.destination{
    margin: 4rem 6rem;
}

.destination h1{
    font-size: 2rem;
}

.f-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.6rem;
}

.f-des-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.6rem;
}

.des-text{
    width: 45%;
    text-align: justify;
    font-size: 1.1rem;
}

.des-text h2{
    padding-bottom: 1rem;
}

.img-des{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.img-des img{
    width: 49%;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.img-des img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}

@media screen and (max-width: 850px){

    .destination{
        margin: 4rem 2rem;
    }
    .f-des{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    
    .f-des-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4.6rem;
    }

    .des-text{
        width: 100%;
    }

    .img-des{
        width: 100%;
        margin: 1.8rem 0;
    }

    .img-des img{
        height: 300px;
    }
}